#searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 1px solid blue;
}

input[type=text] {
    width: 200px;
    height: 20px;
    font-size: 1.2rem;
}

button {
    margin-left: 10px;
    height: 25px;
}

#mainContainer {
    border: 1px solid pink;
}

h3 {
    font-size: 2.2rem;
    margin-left: 100px;
}

#weatherContainer {
    display: flex;
}

#leftContainer {
    padding-left: 30px;
    border: 1px solid red;
    height: 350px;
    width: 400px;
}

#rightContainer {
    display: flex;
    border: 1px solid green;
    height: 350px;
    width: calc(100% - 400px);
}

.dayContainer {
    margin: 10px 0 10px 50px;
}

#day1, #day2, #day3, #day4, #day5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid aqua;
}

.icon {
    width: 50px;
    height: 50px;
    font-size: 3.2rem;
    background-color: black;
}

.main {
    width: 100px;
    height: 100px;
}